header {
    padding: 20px 0;
    background-color: aqua;
    
    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
}

.container-header>* {
    border: 1px dashed black;
    min-width: 300px;
    height: 35px;
}

.container-header>nav {
    flex-grow: 1;
    
}

