header {
    padding: 20px 0;
    background-color: aqua;
    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: goldenrod;
    display: flex;
    
    
}

.container-header>* {
    border: 1px dashed black;
    min-width: 300px;
    height: 35px;
    padding: 7px; 

}

.container-header>nav {
    flex-grow: 1;
    
}

#link {
    
    text-align: center;
}

.login {
    text-align: end; 
}

section {
    background-color: blue;
    height: 400px;
    display: flex
}

#column {
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    align-items: center
    
}