header {
    padding: 20px 0;
    background-color: aqua;
    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: goldenrod;
    display: flex;
    
    
}

.container-header>* {
    border: 1px dashed black;
    min-width: 300px;
    height: 35px;
    padding: 7px; 

}

.container-header>nav {
    flex-grow: 1;
    
}

#link {
    
    text-align: center;
}

.login {
    text-align: end; 
}

.prima-sezione {
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.colonna {
    width: 600px;
    height: 300px;
    border: 1px dashed black;
    background-color: rgb(241, 86, 234); 
   

}

.seconda-sezione {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconda-sezione > .first-column {

    width: calc(50% / 3* 2);
    height: 350px;
    border: 1px dashed black;
    background-color: aqua;
        
}

.seconda-sezione > .second-column {

    width: calc(65% / 3);
    height: 350px;
    border: 1px dashed black;
    background-color: pink;
}

.terza-sezione {
    background-color: grey;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terza-sezione > .first-column {

    width: calc(65% / 3);
    height: 350px;
    border: 1px dashed black;
    background-color: pink;

}

.terza-sezione > .second-column {
    width: calc(50% / 3* 2);
    height: 350px;
    border: 1px dashed black;
    background-color: aqua;
}

.quarta-sezione {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quarta-sezione > .first-column {
    width: calc(50% / 3* 2);
    height: 350px;
    border: 1px dashed black;
    background-color: aqua;
}

.quarta-sezione > .second-column {
    width: calc(65% / 3);
    height: 350px;
    border: 1px dashed black;
    background-color: pink;
}

.quinta-sezione{
    background-color: grey;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quinta-sezione > .column {
    width: 942px;
    height: 750px;
    border: 1px dashed black;
    background-color: green;
}

.footer {
    background-color: rgb(27, 24, 24);
    height: 550px;
    display: flex;
    justify-content: center;
    padding: 10px;
    
    
}

.footer > .first-column {

    width: 345px;
    height: 500px;
    border: 1px dashed black;
    background-color: #F08080;
}


.footer > .second-column {

    width: 150px;
    height: 500px;
    border: 1px dashed black;
    background-color: #20B2AA;
}

.footer > .third-column {

    width: 150px;
    height: 500px;
    border: 1px dashed black;
    background-color: #20B2AA;
}

.footer > .fourth-column {

    width: 150px;
    height: 500px;
    border: 1px dashed black;
    background-color: #20B2AA;
}

.footer > .fifth-column {

    width: 150px;
    height: 500px;
    border: 1px dashed black;
    background-color: #20B2AA;
}

.end-footer { 
    background-color: #1B1818;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 0;
}

.footer-column {
    width: 947px;
    margin: 0 auto;
    background-color:#67dbb6;
    display: flex;
    justify-content: space-between;
    
}

.button {
    align-items: flex-start;
    align-self: center;
    border: 1px dashed black;
    background-color: #F08080;
    padding: 3px;
}

.footer-column > .end-button {
    align-items: flex-end;
    align-self: center;
    border: 1px dashed black;
    background-color: #F08080;
    padding: 3px;
}