header {
    padding: 20px 0;
    background-color: aqua;
    
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: goldenrod;
    display: flex;
    
    
}

.container-header>* {
    border: 1px dashed black;
    min-width: 300px;
    height: 35px;
    padding: 7px; 

}

.container-header>nav {
    flex-grow: 1;
    
}

#link {
    
    text-align: center;
}

.login {
    text-align: end; 
}

.prima-sezione {
    background-color: blue;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.colonna {
    width: 600px;
    height: 300px;
    border: 1px dashed black;
    background-color: rgb(241, 86, 234); 
   

}

.seconda-sezione {
    background-color: rgb(204, 123, 123);
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.seconda-sezione > .first-column {

        width: calc(50% / 3* 2);
        height: 350px;
        border: 1px dashed black;
        background-color: aqua;
        
}

.seconda-sezione > .second-column {

    width: calc(65% / 3);
    height: 350px;
    border: 1px dashed black;
    background-color: pink;
}